:root{
    --Blanco:#ffffff;
    --Negro:#000000;
    --Naranja:#DF7C16;
    --Azul:#34688F;
    --Amarillo:#FFCE00;
    --Marfil:#cecccc;
    --Gris:#474747;
    --fuentePrincipal:'Montserrat',norma;

}
html {
    box-sizing: border-box;
    font-size:62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fuentePrincipal);
    line-height: 1.2;
    font-weight: bold;
}

h1{
    font-size: 4.8rem;
    font-weight: bold;
}

h2{
    font-size: 4rem;
    margin-left: 20px;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

h5{
    font-size: 2rem;
}

h6{
    font-size: 1.6rem;
}
p{
    font-family: var(--fuentePrincipal);
    font-size: 1.7rem;
    text-align: justify;
}

input{
    font-size: 2rem;
}

a{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
}

img{
    max-width: 100%;
}

/* Header*/

.header{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    background-size: cover;
}

.header__etiquetas{
    background-color: var(--Naranja);
    text-align: right;
    padding:2rem;
}

.header__etiquetas a{
    color:var(--Blanco);
    margin: 2rem;
}

.header__presentacion{
    display: grid;
    grid-template-areas: "titulo navegacion";
    grid-template-areas: "titulo"
                         "navegacion";
    margin:2rem;
}

.header__presentacion img{
    margin-top: 2.3rem;
    width:60px;
    height: 60px;
}

.header__aux{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.header__presentacion h2{
    text-align: center;
    color:var(--Azul);
}
@media (min-width: 768px) {
    .header__presentacion{
        display: flex;
        justify-content: space-between;
        margin:1rem;
    }
}
@media (min-width: 1024px) {
    .header__presentacion{
        display: flex;
        justify-content: space-between;
        margin:5rem;
    }
}

.referencias{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    padding: 2rem;
    row-gap: 1.2rem;
}

@media (min-width: 768px) {
    .referencias{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        text-align: center;
        padding: 4rem;
        column-gap: 2rem;
    }
}

@media (min-width: 1024px) {
    .referencias{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        text-align: center;
        padding: 2rem;
        column-gap: 1.2rem;
    }
}

/* Encabezado */

.encabezado{
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/img/img\ \(8\).jpg);
    display: grid;
}

.boton__enviar{
    text-align: center;
}

.boton{
    background-color: var(--Naranja);
    color: var(--Blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    border: none;
    text-align: center;
}

.titulos{
    color: var(--Blanco);
    text-align: center;
    margin-top: 5rem;
}

.titulos h1{
    font-size: 4rem;
    text-align: center;
}

.titulos h3{
    font-weight:100;
    font-size: 2.9rem;
    text-align: center;
}

@media (min-width: 768px) {
    .titulos{
        text-align: center;
        margin-left: 0;
    }
    .titulos h3{
        text-align: center;
    }
    .boton{
        text-align: center;
        font-size: 1.6rem;
    }
    .boton__enviar{
        text-align: center;
        margin-left: 0;
    }
    .titulos h1{
        font-size: 5.2rem;
    }
}

@media (min-width: 1024px) {
    .titulos{
        text-align: left;
        margin-left: 10rem;
        margin-top: 5rem;
    }
    .titulos h3{
        text-align: left;
    }
    .boton__enviar{
        text-align: left;
        margin-left: 10rem;
    }
    .boton{
        font-size: 1.6rem;
        width: 40%;
    }
    .titulos h1{
        font-size: 5.2rem;
        text-align: left;
    }
}

/*Seccion Bienvenido*/

.bienvenida{
    display: grid;
    grid-template-areas: "Mensaje";
    grid-template-areas: "Mensaje";
    margin:3rem;
}

.Mensaje{
    grid-area: Mensaje;
    text-align: center;
    padding: 4rem;
}
.Mensaje h2{
    color: var(--Naranja);
}
.Mensaje p{
    color: var(--Azul);
}

.Boton_Bienvenida{
    grid-area: Boton;
    text-align: center;
    margin: 3rem;
}

@media (min-width: 768px) {
    .bienvenida{
        grid-template-areas: "Mensaje"
                             "Imagen"
                             "Boton";
        margin: 3rem;
        column-gap: 4rem;
    }
}

@media (min-width: 1024px) {
    .bienvenida{
        grid-template-areas: "Mensaje Imagen"
                             "Boton Imagen";
        margin: 3rem;
    }
}

/* Noticias */
.Noticias{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    text-align: center;
    gap: 3rem;
    row-gap: 3rem;
    column-gap: 3rem;
}

.Noticia1{
    display: grid;
    background-color: var(--Naranja);
    grid-template-rows: auto;
}

@media (min-width: 1024px) {
    .Noticia1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 4rem;
        margin-left: 4rem;
        column-gap: 4rem;
    }
}

.Noticia1 h1{
    font-size: 6rem;
}

.NT1{
    background-color: var(--Azul);
    color: var(--Blanco);
    padding: 3rem;
}

.NT2{
    color: var(--Blanco);
    text-align: left;
    padding: 3rem;
}
.NT3{
    padding:2rem;
    margin-top: 4rem;
    text-align: center;
}

/* Footer */ 

.footer{
    background-color: var(--Marfil);
    display: grid;
    grid-template-areas: "Icono enlaces extras";
    grid-template-areas: "extras"
                         "enlaces"
                         "Icono";
}

.Icono{
    grid-area: Icono;
}

.enlaces{
    grid-area: enlaces;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    text-align: center;
}

.extras{
    grid-area: extras;
}

@media (min-width: 768px) {
    .footer{
        grid-template-areas: "Icono extras"
                             "enlaces enlaces";
    }
    .enlaces{
    text-align: center;
    margin-top: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 4rem;
    gap: 4rem;
    padding-right: 40px;
    }

    .enlaces a{
        text-align: center;
        gap:4rem;
    }
    .Icono img{
        width: 250px;
        height: 250px;
        text-align: center;
    }
    .Icono{
        margin: 4rem;
    }
    .Icono img{
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .footer{
        grid-template-areas: "Icono extras extras enlaces";
    }
    .enlaces{
        display: grid;
        grid-template-rows: max-content;
        margin: 2rem;
    }
    .Icono{
        margin: 4rem;
    }
    .extras{
        margin: 6rem;
    }
    .extras p{
        margin-right: 12rem;
    }

    .Icono img{
        width: 250px;
        height: 250px;
        text-align: center;
    }
}
